.remove-file {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-file > p {
  margin-inline-end: 15px;
}

.remove-file > button:hover {
  cursor: pointer;
}

.download-csv-example {
  text-align: center;
}

.remove-file > button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin-top: 10px;
}
