<mat-dialog-content class="modal">
  <header class="modal-header">
    <h2 mat-dialog-title>Bulk Award Badge</h2>
    <a href="#" target="_blank">Learn More ↪ </a>
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon" color="warn">&times;</mat-icon>
    </button>
  </header>

  <mat-horizontal-stepper [linear]="!isFileUploaded" #stepper>

    <mat-step [stepControl]="firstFormGroup" label="Upload File" state="done">
      <form [formGroup]="firstFormGroup">
        <app-dropzone-table (fileUploaded)="handleFileUploaded($event)" (csvData)="handleCSVData($event)"/>
        <footer class="footer-buttons">
          <button mat-button matStepperNext [disabled]="!isFileUploaded">Next</button>
        </footer>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="Field Mapping" state="number">
      <form class="second-form" [formGroup]="secondFormGroup">
        <div *ngIf="headers.length > 0">
          <label>
            <input type="checkbox">
            First row has headers
          </label>
          <table class="modal-table field-mapping-headers">
            <thead>
            <tr>
              <th>YOUR COLUMNS</th>
              <th>OUR COLUMN HEADERS</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ourHeader of ourColumnHeaders">
              <td>
                <select class="csv-headers">
                  <option value="" disabled selected>Select Column...</option>
                  <option class="csv-header" *ngFor="let header of headers" [value]="header">{{ header }}</option>
                </select>
              </td>
              <td>{{ ourHeader }}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <footer class="footer-buttons">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </footer>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" label="Validation" state="number">
      <form [formGroup]="thirdFormGroup">
        <h3 mat-subheader>Validation</h3>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="onSave()">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="fourthFormGroup" label="Summary" state="number">
      <form [formGroup]="fourthFormGroup">
        <h3 mat-subheader>Summary</h3>
        <div mat-dialog-actions>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-button (click)="onSave()">Ready to send</button>
        </div>
      </form>
    </mat-step>

  </mat-horizontal-stepper>
</mat-dialog-content>
