.modal {
  max-height: 81.5vh;
  overflow-y: scroll;
}

.modal-header > a {
  margin-left: 25px;
}

.close-button {
  top: 5px;
  right: 10px;
  font-size: 32px;
  position: absolute;
  line-height: 14px;
  min-width: auto;
}

.footer-buttons {
  position: absolute;
  bottom: 1rem;
}

.second-form, .field-mapping-headers {
  margin-top: 25px;
}

