<mat-dialog-content class="modal">
  <header class="modal-header">
    <h2 mat-dialog-title>Bulk Award Badge</h2>
    <a href="#" target="_blank">Learn More ↪ </a>
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon" color="warn">&times;</mat-icon>
    </button>
  </header>

  <mat-horizontal-stepper linear #stepper>

    <mat-step [stepControl]="firstFormGroup" label="Upload File" [completed]="isFileUploaded">
      <app-dropzone-table (csvData)="handleCSVData($event)"
                          [formBuilder]="formBuilder"
                          [formGroup]="firstFormGroup"/>

      <footer class="footer-buttons">
        <button mat-button matStepperNext [disabled]="!isFileUploaded">Next</button>
      </footer>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="Field Mapping" [completed]="isAllSelectsValid">
      <app-header-matcher [headers]="headers"
                          (isAllSelectsValid)="handleValidSelects($event)"
                          [formBuilder]="formBuilder"
                          [formGroup]="secondFormGroup"
                          (hasHeadersChecked)="handleHasHeadersChecked($event)"/>

      <footer class="footer-buttons">
        <button mat-button matStepperPrevious (click)="resetSecondFormGroup()">Back</button>
        <button mat-button matStepperNext [disabled]="!isAllSelectsValid" (click)="prepareValidationFields()">Next</button>
      </footer>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" label="Validation" [completed]="isValidData">
      <app-header-validator [headers]="headers"
                            [formBuilder]="formBuilder"
                            [formGroup]="thirdFormGroup"
                            (isValidData)="handleIsValidData($event)"
                            (exportData)="handleExportData($event)"/>

      <footer class="footer-buttons">
        <button mat-button matStepperPrevious (click)="resetThirdFormGroup()">Back</button>
        <button mat-button matStepperNext [disabled]="!isValidData" (click)="prepareExportData()">Next</button>
      </footer>
    </mat-step>

    <mat-step [stepControl]="fourthFormGroup" label="Summary" [completed]="isValidExportData">
      <app-json-table [formBuilder]="formBuilder"
                      [formGroup]="fourthFormGroup"
                      (isValidExport)="handleIsValidExportData($event)"/>

      <footer class="footer-buttons" mat-dialog-actions>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="resetStepper();removeCSV()">Reset</button>
        <button mat-button (click)="onSave()" [disabled]="!isValidExportData">Ready to send</button>
      </footer>
    </mat-step>

  </mat-horizontal-stepper>
</mat-dialog-content>
