<mat-dialog-content class="modal">
  <header class="modal-header">
    <h2 mat-dialog-title>Bulk Award Badge</h2>
    <a href="#" target="_blank">Learn More ↪ </a>
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon" color="warn">&times;</mat-icon>
    </button>
  </header>

  <mat-horizontal-stepper linear #stepper>

    <mat-step [stepControl]="firstFormGroup" label="Upload File" [completed]="isFileUploaded">
      <form [formGroup]="firstFormGroup">
        <app-dropzone-table (csvData)="handleCSVData($event)"/>
        <footer class="footer-buttons">
          <button mat-button matStepperNext [disabled]="!isFileUploaded">Next</button>
        </footer>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="Field Mapping" [completed]="allSelectsValid">
      <form class="second-form" [formGroup]="secondFormGroup">
        <div *ngIf="headers.length > 0">
          <app-header-matcher [headers]="headers"
                              [ourColumnHeaders]="ourColumnHeaders"
                              (validSelect)="handleValidSelects($event)"
                              [formBuilder]="formBuilder"
                              [formGroup]="secondFormGroup"
          />
        </div>

        <footer class="footer-buttons">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext [disabled]="!allSelectsValid">Next</button>
        </footer>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" label="Validation">
      <form [formGroup]="thirdFormGroup">
        <h3 mat-subheader>Validation</h3>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="onSave()">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="fourthFormGroup" label="Summary">
      <form [formGroup]="fourthFormGroup">
        <h3 mat-subheader>Summary</h3>
        <div mat-dialog-actions>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="resetStepper()">Reset</button>
          <button mat-button (click)="onSave()">Ready to send</button>
        </div>
      </form>
    </mat-step>

  </mat-horizontal-stepper>
</mat-dialog-content>
